<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saveyourride">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- TEST -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- DEBUG -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--  -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activities -->
        <activity
            android:name=".activities.MainScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsContacts"
            android:label="@string/title_activity__active"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SettingsMain"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saveyourride.activities.MainScreen" />
        </activity>
        <activity
            android:name=".activities.PassiveMode"
            android:label="@string/title_activity_passive_mode"
            android:parentActivityName=".activities.MainScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saveyourride.activities.MainScreen" />
        </activity>
        <activity
            android:name=".activities.ActiveMode"
            android:label="@string/title_activity_active_mode"
            android:parentActivityName=".activities.MainScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saveyourride.activities.MainScreen" />
        </activity>
        <activity
            android:name=".activities.SosMode"
            android:label="@string/title_activity_sos_mode"
            android:parentActivityName=".activities.MainScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saveyourride.activities.MainScreen" />
        </activity>

        <!-- Services -->
        <service android:name=".services.NotificationManager" />
        <service android:name=".services.SosModeManager" />

        <!-- Services for Active Mode -->
        <service android:name=".services.ActiveModeManager" />

        <!-- Services for Passive Mode -->
        <service android:name=".services.PassiveModeManager" />
        <service android:name=".services.Accelerometer" />
        <service android:name=".services.Location" />

        <activity
            android:name=".activities.SettingsMain"
            android:label="@string/title_activity_settings_main"
            android:parentActivityName=".activities.MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saveyourride.activities.MainScreen" />
        </activity>
        <activity
            android:name=".activities.SettingsPreviewMessage"
            android:label="@string/title_activity_settings_preview_message"
            android:parentActivityName=".activities.SettingsMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saveyourride.activities.SettingsMain" />
        </activity>
    </application>

</manifest>